#ui-slider-title-bar{
	width: 100%;
	height: 16px;
	background-color: #8b7603;
	position: absolute;
	top:8px;
	left:0;
}

#ui-slider-title-container{
	position: absolute;
	top: 0;
    left: 50%;
    transform: translate(-50%, 0);
	border: solid 2px #8b7603;
    width: 40%;
    height: 25px;
    border-radius: 6px;
	background-color: black;
}

#ui-slider {
	// width: 100%;
	height: 100%;
	margin: 0;
}


// Leave this alone. This is for slick slider
.slide-card {
	height: inherit;
	width: 100%;
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// overflow-y: visible;
	// border: solid 1px red;
}

// Use this as the container for the slider content
.slide-body {
	height: inherit;
	width: 100%;
	position: relative;
	
	display: flex !important;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	// padding: 20px;
	// background-color: rgb(65, 65, 65);
	// border-top: none;
    // border-left: dashed 10px white;
    // border-right: dashed 10px white;
    // border-bottom: none;

	box-sizing: border-box;
}

// Details container necessary as so it stays hidden on load.
.item-details-toggle-layer {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}


.item-details-container {
	background-color: black;
    position: absolute;				//Necessary because it shares container with the rest of the component pieces, ie: the mic button. 
    height: 100%;
    width: 100%;

	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

	top: 0;
	left: 0;

	border-top: 4px dashed white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 4px dashed white;
	border-radius: 8px;

	box-sizing: border-box;
}

.item-details {
	padding: 20px;
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.slide-item-summary{
	text-align: center;
	margin-bottom: 20px;
}






// Button to open details subpage
.details-button {
	background-color: black;
	border-radius: 50%;
	height: 85px;
	width: 85px;
	color: white;
	font-weight: 100;
	border-top: 6px dashed white;
    border-left: 2px dashed white;
    border-right: 2px dashed white;
    border-bottom: 1px dashed white;
	// border-top: 6px solid white;
    // border-left: 2px solid white;
    // border-right: 2px solid white;
    // border-bottom: 1px solid white;
	// justify-self: baseline;
    position: absolute;
	bottom: -15px;
    left: -15px;
	padding: 0;
	font-size: 26px;
	// box-shadow: -7px 9px 26px -10px #fff;

	// font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@keyframes pulseDetailsClick {
	0% {
		border-top: 6px white solid;
		border-bottom: 6px white solid;
		border-left: 0px white solid;
		border-right: 0px white solid;
	}
	50% {
		border-top: 44px white solid;
		border-bottom: 44px white solid;
		border-left: 1px white solid;
		border-right: 1px white solid;
	}
	100% {
		border-top: 6px white solid;
		border-bottom: 6px white solid;
		border-left: 0px white solid;
		border-right: 0px white solid;
	}
}


.details-button:active {
	animation: pulseDetailsClick 0.1s 1 normal linear;
}

.details-close-button {
	background-color: black;
	color: white;
	border-radius: 9px;
    padding: 12px;
	letter-spacing: 5px;
}

.slide-item-name {
	position: absolute;
	top: 4px;
	color: #8b7603;
	// height: 20%;
	margin: 0 auto;
	// background-color: green;
}

.slick-list {
	height: 100%;
	// overflow: visible !important;
}

.slick-track {
	height: 100%;
}