body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

.warning {
	color: red;
}


a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#debug {
	position: absolute;
	opacity: 0.75;
	top: 0px;
	left: 0px;
	border: solid 1px yellow;
	padding: 10px;
	box-sizing: border-box;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 10000; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#start-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5%;
	justify-content: center;
	background: rgba(0,0,0,1);
    z-index: 100000;
}

#start-overlay button {
	background: #ffffff;
	border: solid 1px #000;
	color: #000000;
	padding: 16px 20px;
	text-transform: uppercase;
	cursor: pointer;
	width: 20vw;
	height: 20vw;
	border-radius: 50%;
	font-size: 40px;
	font-weight: 500;
	// letter-spacing: -3.5px;
	letter-spacing: -2px;
	box-shadow: inset 0px 0px 25px 28px #818181;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	min-width: 160px;
    min-height: 160px;
}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

video{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: -1;
	/* height: 100vh; */
}

#static-overlay{
	background-image: url("../textures/screen-static.gif");
	background-size: cover;
	width: 100%;
	height: 70%;		// height until ui bar
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}


#outofbounds-warning-container{
	width: 100%;
	height: 70%;		// height until ui bar
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
}


@keyframes pulseWarning {
	0% {
	  transform: scale(1);
	  color: rgb(50, 10, 230); 
	}
	50% {
	  transform: scale(1.26);
	  color: rgb(255, 0, 0); 
	}
	100% {
	  transform: scale(1);
	  color: rgb(50, 10, 230); 
	}
}


#outofbounds-warning {
	font-size: 50px;
	animation: pulseWarning 2.5s infinite ease-in-out;
}


#ui-container {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 100;
	background-color: rgb(50, 50, 50);
	height: 30%;
	width: 100vw;
}

#ui-slider {
	// width: 100%;
	height: 100%;
	margin: 0;
}


// Leave this alone. This is for slick slider
.slide-card {
	height: inherit;
	width: 100%;
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// Use this as the container for the slider content
.slide-body {
	height: inherit;
	width: 100%;
	position: relative;
	
	display: flex !important;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	background-color: rgb(65, 65, 65);
}


.item-details-container {
	display: none;
	position: relative;
}
.item-details{
	display: flex;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgb(66, 66, 66);
	color: rgb(13, 0, 128);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20%;
}

.details-button {
	border: 0;
	background-color: rgb(21, 1, 78);
	border-radius: 50%;
	height: 85px;
	width: 85px;
	color: white;
	font-weight: 800;
	justify-self: baseline;
	// font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.details-close-btn {
	// position: absolute;
	top: 40px;
	right: 40px;
}

.slide-item-name {
	
	// height: 20%;
	margin: 0 auto;
	// background-color: green;
}

.slick-list {
	height: 100%;
}

.slick-track {
	height: 100%;
}










// About page
#about-page {
	display: none;

}

.about-page-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(32, 32, 32);
}

#about-close{
	position: absolute;
	top: 50px;
	right: 50px;
	cursor: pointer;
	transform: rotate(180deg);
}

.about-page-copy h1{
	// text-align: center;
	margin-bottom: 10vh;
}

#close-line-l,
#close-line-r{
	width: 35px;
	height: 3px;
	background-color: red;
}

#close-line-l{
	transform: rotate(45deg);
}
#close-line-r{
	transform: rotate(-45deg);
}