@use 'items/voice';
@use 'items/gps';
@use 'items/sound';
@use 'items/emf';
@use 'items/offering';
@use 'items/glyph';
@use 'slider-ui/slider-ui';
@use 'about/about-page';
@use 'variables/variables';

body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
	overflow: hidden;
}

.warning {
	color: red;
}

.hide {
	display: none;
}

button {
	cursor: pointer;
}

#debug {
	display: none;
	position: absolute;
	opacity: 0.75;
	top: 0px;
	left: 0px;
	border: solid 1px yellow;
	padding: 10px;
	box-sizing: border-box;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 10000; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

// Is this necessary?
// .dg.ac {
// 	-moz-user-select: none;
// 	-webkit-user-select: none;
// 	-ms-user-select: none;
// 	user-select: none;
// 	z-index: 2 !important; /* TODO Solve this in HTML */
// }

#start-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10%;
	justify-content: center;
	background: rgba(0,0,0,1);
    z-index: 100000;
}

#start-overlay button {
	background: #000;
    border-top: 10px #fff dashed;
    border-bottom: 10px #fff dashed;
    border-left: 2px #fff solid;
    border-right: 2px #fff solid;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    font-size: 22px;
    font-weight: 500;
    // min-width: 175px;
    // min-height: 175px;
}

// @keyframes pulseMenuClick {
// 	0% {
// 		border-radius: 10%;
// 		border-top: 10px #fff dashed;
// 		border-bottom: 10px #fff dashed;
// 	}
// 	50% {
// 		border-radius: 50%;
// 		border-top: 30px #fff dashed;
// 		border-bottom: 30px #fff dashed;
// 	}
// 	100% {
// 		border-radius: 10%;
// 		border-top: 10px #fff dashed;
// 		border-bottom: 10px #fff dashed;
// 	}
// }

@keyframes pulseMenuClick {
	0% {
		border-top: 6px white solid;
		border-bottom: 6px white solid;
		border-left: 0px white solid;
		border-right: 0px white solid;
	}
	50% {
		border-top: 60px white solid;
		border-bottom: 60px white solid;
		border-left: 1px white solid;
		border-right: 1px white solid;
	}
	100% {
		border-top: 6px white solid;
		border-bottom: 6px white solid;
		border-left: 0px white solid;
		border-right: 0px white solid;
	}
}

#start-overlay button:active {
	animation: pulseMenuClick 0.1s 1 normal linear;
}

video{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: -1;
	/* height: 100vh; */
}

#tutorial{
	position: relative;
	z-index: 100000;
}

#static-overlay{
	background-image: url("../textures/screen-static.gif");
	background-size: cover;
	width: 100%;
	height: variables.$video-height;		// height until ui bar
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

#outofbounds-warning-container{
	width: 100%;
	height: variables.$video-height;		// height until ui bar
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

#outofbounds-warning {
	font-size: 9vw;
}

@keyframes pulseWarning {
	0% {
	  transform: scale(1);
	  color: rgb(50, 10, 230); 
	}
	50% {
	  transform: scale(1.26);
	  color: rgb(255, 0, 0); 
	}
	100% {
	  transform: scale(1);
	  color: rgb(50, 10, 230); 
	}
}

#outofbounds-warning {
	font-size: 50px;
	animation: pulseWarning 2.5s infinite ease-in-out;
}

#ui-container {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 100;
	// background-color: rgb(50, 50, 50);
	height: variables.$ui-height;
	width: 100vw;
}