#about-page {
	display: none;

}

.about-page-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(32, 32, 32);
}

#about-close{
	position: absolute;
	top: 50px;
	right: 20px;
	cursor: pointer;
	transform: rotate(180deg);
}

.about-page-copy h1{
	// text-align: center;
	margin-bottom: 10vh;
}

.about-page-copy {
	padding: 0 20px;
}

#close-line-l,
#close-line-r{
	width: 35px;
	height: 3px;
	background-color: red;
}

#close-line-l{
	transform: rotate(45deg);
}
#close-line-r{
	transform: rotate(-45deg);
}